In [42]:
import pandas as pd

In [43]:
data0 = {
    'tmin': [27, 28, 27, 30, 28, 33, 36, 33, 37, 44, 35, 34, 30,
          44, 23, 23, 35, 27, 23, 19, 19, 38, 20, 10, 16, 18,
          13, 15, 14, 13, 11],
    'tmax': [38, 39, 36, 43, 41, 50, 63, 55, 51, 52, 49, 49, 53,
          52, 45, 39, 43, 38, 42, 34, 43, 56, 48, 22, 29, 28,
          31, 26, 25, 21, 22]
}
dcTemps_Jan2026 = pd.DataFrame(data0)
dcTemps_Jan2026['tavg'] = (dcTemps_Jan2026['tmin'] + dcTemps_Jan2026['tmax'])/2
dcTemps_Jan2026.to_csv('Data/dcTemps_Jan2026.csv')

In [44]:
data1 = {
    'tmin': [14, 21, 21, 30, 20, 18, 17, 14, 15, 29, 36, 30, 26,
          26, 34, 36, 35, 36, 35, 37, 37, 33, 25, 33, 34, 35, 35, 39],
    'tmax': [26, 35, 43, 39, 35, 33, 34, 24, 34, 46, 48, 38, 38, 57, 47,
          46, 48, 51, 44, 54, 55, 40, 43, 39, 57, 47, 50, 60]
}

dcTemps_Feb2026 = pd.DataFrame(data1)
dcTemps_Feb2026['tavg'] = (dcTemps_Feb2026['tmin'] + dcTemps_Feb2026['tmax'])/2
dcTemps_Feb2026.to_csv('Data/dcTemps_Feb2026.csv')
dcTemps_Feb2026.head()

   tmin  tmax  tavg
0    14    26  20.0
1    21    35  28.0
2    21    43  32.0
3    30    39  34.5
4    20    35  27.5

In [45]:
data2 = {
    'tmin': [
  37, 30, 36, 37, 31, 34, 27, 28, 29, 41,
  42, 41, 41, 44, 45, 44, 40, 39, 38, 44,
  44, 33, 33, 34, 44, 45, 42, 38, 46, 47,
  49
  ],
  'tmax': [ 
  58, 52, 52, 50, 49, 51, 44, 45, 45, 46,
  59, 60, 61, 61, 62, 61, 62, 51, 57, 61,
  63, 64, 50, 51, 56, 64, 64, 53, 59, 62,
  67
  ]
}
dcTemps_March2026 = pd.DataFrame(data2)
dcTemps_March2026['tavg'] = (dcTemps_March2026['tmin'] + dcTemps_March2026['tmax']/2)
dcTemps_March2026.to_csv('Data/dcTemps_March2026.csv')

In [46]:
data3 = {
        'tmin': [46, 43, 45, 41, 40, 39, 36, 40, 39, 36, 37,
          40, 39, 39, 45, 55, 52, 52, 49, 41, 41, 40,
          50, 43, 45, 56, 57, 56, 58, 46, 44],
        'tmax': [67, 55, 58, 58, 56, 70, 66, 61, 60, 59,
          60, 60, 61, 62, 61, 67, 75, 75, 64, 74,
          68, 64, 62, 66, 67, 68, 73, 75, 77, 79, 78]
}

# Create DataFrame
dcTemps_Apr2026 = pd.DataFrame(data3)

# Calculate Average (Case-sensitive names must match dictionary keys!)
dcTemps_Apr2026["tavg"] = (dcTemps_Apr2026["tmax"] + dcTemps_Apr2026["tmin"]) / 2
dcTemps_Apr2026.to_csv("Data/dcTemps_Apr2026.csv")

In [47]:
data4 = {
    'tmin': [
  44, 44, 45, 49, 51, 46, 54, 57, 60, 60,
  59, 58, 62, 55, 49, 54, 50, 51, 53, 63,
  53, 50, 53
  ],
  'tmax': [
  78, 72, 65, 69, 68, 74, 70, 74, 80, 80,
  74, 73, 75, 74, 82, 72, 70, 72, 75, 74,
  73, 78, 72
  ]
}
dcTemps_May2026 = pd.DataFrame(data4)
dcTemps_May2026['tavg'] = (dcTemps_May2026['tmin'] + dcTemps_May2026['tmax']/2)
dcTemps_May2026.to_csv('Data/dcTemps_May2026.csv')

In [48]:
dc_Temps_2026 = pd.concat([dcTemps_Jan2026, dcTemps_Feb2026, dcTemps_March2026, dcTemps_Apr2026, dcTemps_May2026], ignore_index = True)
dates = pd.date_range(start="2026-01-01", periods=144, freq="D")
dc_Temps_2026['year'] = 2026
dc_Temps_2026['date'] = dates.strftime("%Y-%m-%d")
dc_Temps_2026['doy'] = dates.dayofyear
dc_Temps_2026 = dc_Temps_2026[['year', 'date', 'doy', 'tmin', 'tmax', 'tavg']]
print(dc_Temps_2026.head())

dc_Temps_2026.to_csv("Data/dc_Temps_2026.csv", index=False)

   year        date  doy  tmin  tmax  tavg
0  2026  2026-01-01    1    27    38  32.5
1  2026  2026-01-02    2    28    39  33.5
2  2026  2026-01-03    3    27    36  31.5
3  2026  2026-01-04    4    30    43  36.5
4  2026  2026-01-05    5    28    41  34.5