In [3]:
import pandas as pd

In [9]:
data0 = {
    'tmin': [-3, -2, -3,-1, -2, 1, 2, 1, 3, 7, 2, 1, -1, 7, -5, -5, 2, -3, -5, -7, -7, 3, -7, -12, -9, -8, -11, -9, -10, -11, -12],
    'tmax': [3, 4, 2, 6, 5, 10, 17, 13, 11, 11, 9, 9, 12, 11, 7, 4, 6, 3, 6, 1, 6, 13, 9, -6, -2, -2, -1, -3, -4, -6, -6]
}

dcPredictedTemps_January_1Thru31 = pd.DataFrame(data0)
dcPredictedTemps_January_1Thru31['temp'] = (dcPredictedTemps_January_1Thru31['tmin'] + dcPredictedTemps_January_1Thru31['tmax'])/2
dcPredictedTemps_January_1Thru31.to_csv('dcPredictedTemps_January_1Thru31.csv')
dcPredictedTemps_January_1Thru31.head()

   tmin  tmax  temp
0    -3     3   0.0
1    -2     4   1.0
2    -3     2  -0.5
3    -1     6   2.5
4    -2     5   1.5

In [13]:
data1 = {
    'tmin': [1, 2, -1, -1, -2, -1, -2, -3, -7, -1, 1, -2, -2, -8, -8, -6, -2, -2, 2, -2, 1, -2, 3, 2, 3, 0, 2, 2, 0, -3, -3],
    'tmax': [8, 6, 8, 8, 1, 7, 6, 3, 1, 7, 7, 4, 7, 3, -2, 4, 11, 14, 16, 7, 11, 8, 6, 14, 16, 5, 8, 7, 16, 3, 3]
}

print(f"Min Count: {len(data1['tmin'])}")
print(f"Max Count: {len(data1['tmax'])}")

dcPredictedTemps_December_1Thru31 = pd.DataFrame(data1)
dcPredictedTemps_December_1Thru31['temp'] = (dcPredictedTemps_December_1Thru31['tmin'] + dcPredictedTemps_December_1Thru31['tmax'])/2
dcPredictedTemps_December_1Thru31.to_csv('dcPredictedTemps_December_1Thru31.csv')
dcPredictedTemps_December_1Thru31.head()

Min Count: 31
Max Count: 31

   tmin  tmax  temp
0     1     8   4.5
1     2     6   4.0
2    -1     8   3.5
3    -1     8   3.5
4    -2     1  -0.5

In [16]:
data2 = {
    'tmin': [7, 7, 11, 9, 6, 7, 3, 13, 10, 3, -1, 3, 6, 2, 9, 7, 5, 1, 6, 6, 8, 7, 6, 5, 7, 9, 3, 0, -1, 3],
    'tmax': [19, 19, 18, 18, 23, 16, 18, 22, 18, 13, 8, 17, 16, 14, 18, 19, 11, 10, 10, 9, 13, 15, 18, 15, 13, 22, 9, 7, 7, 7]
}

print(f"Min Count: {len(data1['tmin'])}")
print(f"Max Count: {len(data1['tmax'])}")

dcPredictedTemps_November_1Thru30 = pd.DataFrame(data1)
dcPredictedTemps_November_1Thru30['temp'] = (dcPredictedTemps_November_1Thru30['tmin'] + dcPredictedTemps_November_1Thru30['tmax'])/2
dcPredictedTemps_November_1Thru30.to_csv('dcPredictedTemps_November_1Thru30.csv')
dcPredictedTemps_November_1Thru30.head()

Min Count: 31
Max Count: 31

   tmin  tmax  temp
0     1     8   4.5
1     2     6   4.0
2    -1     8   3.5
3    -1     8   3.5
4    -2     1  -0.5

In [19]:
data3 = {
    'tmin': [15, 13, 13, 13, 14, 16, 17, 14, 10, 10, 11, 14, 13, 13, 12, 9, 8, 10, 14, 10, 8, 11, 8, 6, 4, 6, 6, 7, 9, 11, 9],
    'tmax': [24, 22, 22, 26, 27, 27, 28, 23, 19, 20, 22, 18, 17, 19, 23, 19, 19, 23, 24, 20, 22, 21, 19, 16, 16, 17, 19, 14, 16, 19, 17]
}

print(f"Min Count: {len(data3['tmin'])}")
print(f"Max Count: {len(data3['tmax'])}")

dcPredictedTemps_October_1Thru31 = pd.DataFrame(data3)
dcPredictedTemps_October_1Thru31['temp'] = (dcPredictedTemps_October_1Thru31['tmin'] + dcPredictedTemps_October_1Thru31['tmax'])/2
dcPredictedTemps_October_1Thru31.to_csv('dcPredictedTemps_October_1Thru31.csv')
dcPredictedTemps_October_1Thru31.head()

Min Count: 31
Max Count: 31

   tmin  tmax  temp
0    15    24  19.5
1    13    22  17.5
2    13    22  17.5
3    13    26  19.5
4    14    27  20.5