In [1]:
import pandas as pd

In [ ]:
data0 = {
    'Min': [37, 35, 33, 27, 25, 43, 34, 33, 39],
    'Max': [54, 55, 37, 39, 38, 49, 57, 51, 61]
}

dcPredictedTemps_February_20Thru28 = pd.DataFrame(data0)
dcPredictedTemps_February_20Thru28['Avg'] = (dcPredictedTemps_February_20Thru28['Min'] + dcPredictedTemps_February_20Thru28['Max'])/2
dcPredictedTemps_February_20Thru28.to_csv('dcPredictedTemps_February_20Thru28.csv')
dcPredictedTemps_February_20Thru28.head()

   Min  Max   Avg
0   37   54  45.5
1   35   55  45.0
2   33   37  35.0
3   27   39  33.0
4   25   38  31.5

In [10]:
data1 = {
    'Min': [
        37, 30, 36, 37, 31, 34, 27, 28, 29, 41, 42,
        41, 41, 44, 45, 44, 40, 39, 38, 44, 44, 35,
        33, 34, 44, 45, 42, 38, 46, 47, 49
        ],
    'Max': [
        58, 52, 52, 50, 49, 51, 44, 45, 45, 46, 59,
        60, 61, 61, 62, 61, 62, 51, 57, 61, 63, 64,
        50, 51, 56, 64, 64, 53, 59, 62, 67]
}
dcPredictedTemps_March_2026 = pd.DataFrame(data1)
dcPredictedTemps_March_2026['Avg'] = (dcPredictedTemps_March_2026['Min'] + dcPredictedTemps_March_2026['Max']/2)
dcPredictedTemps_March_2026.to_csv('dcPredictedTemps_March_2026.csv')

In [12]:
data2 = {
    'Min': [
        44, 44, 45, 49, 51, 46, 54, 57, 60, 60, 59,
        58, 62, 55, 49, 54, 50, 51, 53, 63, 53, 50,
        53
    ],
    'Max': [78, 72, 65, 69, 68, 74, 70, 74, 80, 80,
            74, 73, 75, 74, 82, 72, 70, 72, 75, 74, 73,
            78, 72
    ]
}
dcPredictedTemps_May_2026 = pd.DataFrame(data2)
dcPredictedTemps_May_2026['Avg'] = (dcPredictedTemps_May_2026['Min'] + dcPredictedTemps_May_2026['Max']/2)
dcPredictedTemps_May_2026.to_csv('dcPredictedTemps_May_2026.csv')