In [13]:
import pandas as pd

In [14]:
data0 = {
    'Min': [2.78, 1.67, 0.56, -2.78, -3.89, 6.11, 1.11, 0.56, 3.89],
    'Max': [12.22, 12.78, 2.78, 3.89, 3.33, 9.44, 13.89, 10.56, 16.11]
}

dcPredictedTemps_February_20Thru28 = pd.DataFrame(data0)
dcPredictedTemps_February_20Thru28['Avg'] = (dcPredictedTemps_February_20Thru28['Min'] + dcPredictedTemps_February_20Thru28['Max'])/2
dcPredictedTemps_February_20Thru28.to_csv('dcPredictedTemps_February_20Thru28.csv')
dcPredictedTemps_February_20Thru28.head()

    Min    Max    Avg
0  2.78  12.22  7.500
1  1.67  12.78  7.225
2  0.56   2.78  1.670
3 -2.78   3.89  0.555
4 -3.89   3.33 -0.280

In [15]:
data1 = {
    'Min': [
  2.78, -1.11, 2.22, 2.78, -0.56, 1.11, -2.78, -2.22, -1.67, 5.00,
  5.56, 5.00, 5.00, 6.67, 7.22, 6.67, 4.44, 3.89, 3.33, 6.67,
  6.67, 1.67, 0.56, 1.11, 6.67, 7.22, 5.56, 3.33, 7.78, 8.33,
  9.44
  ],
    'Max': [
  14.44, 11.11, 11.11, 10.00, 9.44, 10.56, 6.67, 7.22, 7.22, 7.78,
  15.00, 15.56, 16.11, 16.11, 16.67, 16.11, 16.67, 10.56, 13.89, 16.11,
  17.22, 17.78, 10.00, 10.56, 13.33, 17.78, 17.78, 11.67, 15.00, 16.67,
  19.44
]
}
dcPredictedTemps_March_2026 = pd.DataFrame(data1)
dcPredictedTemps_March_2026['Avg'] = (dcPredictedTemps_March_2026['Min'] + dcPredictedTemps_March_2026['Max']/2)
dcPredictedTemps_March_2026.to_csv('dcPredictedTemps_March_2026.csv')

In [ ]:
data2 = {
    'Min': [7.78, 6.11, 7.22, 5.0, 4.44, 3.89, 2.22, 4.44, 3.89, 2.22, 2.78, 4.44, 3.89, 3.89, 7.22, 12.78, 11.11, 11.11, 9.44, 5.0, 5.0, 4.44, 10.0, 6.11, 7.22, 13.33, 13.89, 13.33, 14.44, 7.78, 6.67],
    'Max': [19.44, 12.78, 14.44, 14.44, 13.33, 21.11, 18.89, 16.11, 15.56, 15.0, 15.56, 15.56, 16.11, 16.67, 16.11, 19.44, 23.89, 23.89, 17.78, 23.33, 20.0, 17.78, 16.67, 18.89, 19.44, 20.0, 22.78, 23.89, 25.0, 26.11, 25.56]
}

# Create DataFrame
dcPredictedTemps_April_2026 = pd.DataFrame(data2)

# Calculate Average (Case-sensitive names must match dictionary keys!)
dcPredictedTemps_April_2026["Avg"] = (dcPredictedTemps_April_2026["Max"] + dcPredictedTemps_April_2026["Min"]) / 2
dcPredictedTemps_April_2026.to_csv("dcPredictedTemps_April_2026.csv")

In [ ]:
data3 = {
    'Min': [
  6.67, 6.67, 7.22, 9.44, 10.56, 7.78, 12.22, 13.89, 15.56, 15.56,
  15.00, 14.44, 16.67, 12.78, 9.44, 12.22, 10.00, 10.56, 11.67, 17.22,
  11.67, 10.00, 11.67
],
    'Max': [
  25.56, 22.22, 18.33, 20.56, 20.00, 23.33, 21.11, 23.33, 26.67, 26.67,
  23.33, 22.78, 23.89, 23.33, 27.78, 22.22, 21.11, 22.22, 23.89, 23.33,
  22.78, 25.56, 22.22
]
}
dcPredictedTemps_May_2026 = pd.DataFrame(data3)
dcPredictedTemps_May_2026['Avg'] = (dcPredictedTemps_May_2026['Min'] + dcPredictedTemps_May_2026['Max']/2)
dcPredictedTemps_May_2026.to_csv('dcPredictedTemps_May_2026.csv')