In [49]:
import pandas as pd

In [50]:
data0 = {
    'tmin': [-2.8, -2.2, -2.8, -1.1, -2.2, 0.6, 2.2, 0.6, 2.8, 6.7, 1.7, 1.1, -1.1,
          6.7, -5.0, -5.0, 1.7, -2.8, -5.0, -7.2, -7.2, 3.3, -6.7, -12.2, -8.9, -7.8,
          -10.6, -9.4, -10.0, -10.6, -11.7],

      'tmax': [3.3, 3.9, 2.2, 6.1, 5.0, 10.0, 17.2, 12.8, 10.6, 11.1, 9.4, 9.4, 11.7,
          11.1, 7.2, 3.9, 6.1, 3.3, 5.6, 1.1, 6.1, 13.3, 8.9, -5.6, -1.7, -2.2,
          -0.6, -3.3, -3.9, -6.1, -5.6]
}
dcTemps_Jan2026 = pd.DataFrame(data0)
dcTemps_Jan2026['tavg'] = (dcTemps_Jan2026['tmin'] + dcTemps_Jan2026['tmax'])/2
dcTemps_Jan2026.to_csv('Data/dcTemps_Jan2026.csv')

In [51]:
data1 = {
    'tmin': [-10.0, -6.1, -6.1, -1.1, -6.7, -7.8, -8.3, -10.0, -9.4, -1.7, 2.2, -1.1, -3.3,
          -3.3, 1.1, 2.2, 1.7, 2.2, 1.7, 2.8, 2.8, 0.6, -3.9, 0.6, 1.1, 1.7, 1.7, 3.9],

      'tmax': [-3.3, 1.7, 6.1, 3.9, 1.7, 0.6, 1.1, -4.4, 1.1, 7.8, 8.9, 3.3, 3.3, 13.9, 8.3,
          7.8, 8.9, 10.6, 6.7, 12.2, 12.8, 4.4, 6.1, 3.9, 13.9, 8.3, 10.0, 15.6]
}

dcTemps_Feb2026 = pd.DataFrame(data1)
dcTemps_Feb2026['tavg'] = (dcTemps_Feb2026['tmin'] + dcTemps_Feb2026['tmax'])/2
dcTemps_Feb2026.to_csv('Data/dcTemps_Feb2026.csv')
dcTemps_Feb2026.head()

   tmin  tmax  tavg
0 -10.0  -3.3 -6.65
1  -6.1   1.7 -2.20
2  -6.1   6.1  0.00
3  -1.1   3.9  1.40
4  -6.7   1.7 -2.50

In [52]:
data2 = {
    'tmin': [
          2.78, -1.11, 2.22, 2.78, -0.56, 1.11, -2.78, -2.22, -1.67, 5.00,  
          5.56, 5.00, 5.00, 6.67, 7.22, 6.67, 4.44, 3.89, 3.33, 6.67,
          6.67, 1.67, 0.56, 1.11, 6.67, 7.22, 5.56, 3.33, 7.78, 8.33, 9.44
          ],
  'tmax': [
        14.44, 11.11, 11.11, 10.00, 9.44, 10.56, 6.67, 7.22, 7.22, 7.78,
        15.00, 15.56, 16.11, 16.11, 16.67, 16.11, 16.67, 10.56, 13.89, 16.11,
        17.22, 17.78, 10.00, 10.56, 13.33, 17.78, 17.78, 11.67, 15.00, 16.67, 19.44
        ]
}
dcTemps_March2026 = pd.DataFrame(data2)
dcTemps_March2026['tavg'] = (dcTemps_March2026['tmin'] + dcTemps_March2026['tmax']/2)
dcTemps_March2026.to_csv('Data/dcTemps_March2026.csv')

In [53]:
data3 = {
       'tmin': [7.78, 6.11, 7.22, 5.0, 4.44, 3.89, 2.22, 4.44, 3.89, 2.22, 2.78,
            4.44, 3.89, 3.89, 7.22, 12.78, 11.11, 11.11, 9.44, 5.0, 5.0, 4.44,
            10.0, 6.11, 7.22, 13.33, 13.89, 13.33, 14.44, 7.78, 6.67],
        'tmax': [19.44, 12.78, 14.44, 14.44, 13.33, 21.11, 18.89, 16.11, 15.56, 15.0,
            15.56, 15.56, 16.11, 16.67, 16.11, 19.44, 23.89, 23.89, 17.78, 23.33,
            20.0, 17.78, 16.67, 18.89, 19.44, 20.0, 22.78, 23.89, 25.0, 26.11, 25.56]
}

# Create DataFrame
dcTemps_Apr2026 = pd.DataFrame(data3)

# Calculate Average (Case-sensitive names must match dictionary keys!)
dcTemps_Apr2026["tavg"] = (dcTemps_Apr2026["tmax"] + dcTemps_Apr2026["tmin"]) / 2
dcTemps_Apr2026.to_csv("Data/dcTemps_Apr2026.csv")

In [54]:
data4 = {
    'tmin': [
  6.67, 6.67, 7.22, 9.44, 10.56, 7.78, 12.22, 13.89, 15.56, 15.56,
15.00, 14.44, 16.67, 12.78, 9.44, 12.22, 10.00, 10.56, 11.67, 17.22,
11.67, 10.00, 11.67],
    'tmax': [
      25.56, 22.22, 18.33, 20.56, 20.00, 23.33, 21.11, 23.33, 26.67, 26.67,
      23.33, 22.78, 23.89, 23.33, 27.78, 22.22, 21.11, 22.22, 23.89, 23.33,
      22.78, 25.56, 22.22]
}
dcTemps_May2026 = pd.DataFrame(data4)
dcTemps_May2026['tavg'] = (dcTemps_May2026['tmin'] + dcTemps_May2026['tmax']/2)
dcTemps_May2026.to_csv('Data/dcTemps_May2026.csv')

In [55]:
dc_Temps_2026 = pd.concat([dcTemps_Jan2026, dcTemps_Feb2026, dcTemps_March2026, dcTemps_Apr2026, dcTemps_May2026], ignore_index = True)
dates = pd.date_range(start="2026-01-01", periods=144, freq="D")
dc_Temps_2026['year'] = 2026
dc_Temps_2026['date'] = dates.strftime("%Y-%m-%d")
dc_Temps_2026['doy'] = dates.dayofyear
dc_Temps_2026 = dc_Temps_2026[['year', 'date', 'doy', 'tmin', 'tmax', 'tavg']]
print(dc_Temps_2026.head())

dc_Temps_2026.to_csv("Data/dc_Temps_2026.csv", index=False)

   year        date  doy  tmin  tmax  tavg
0  2026  2026-01-01    1  -2.8   3.3  0.25
1  2026  2026-01-02    2  -2.2   3.9  0.85
2  2026  2026-01-03    3  -2.8   2.2 -0.30
3  2026  2026-01-04    4  -1.1   6.1  2.50
4  2026  2026-01-05    5  -2.2   5.0  1.40